<div class="container-fluid">
    <div class="well">
      <h3 class = "profile-header">{{user.display_name}}'s Score: {{eloScore|number:0}}</h3>
      <div class="user-profile row">
        <img ng-src="{{user.pictureUrl}}" class="profile-img-button">
      </div>
    </div>

    <div class="white card">
      <div class="max-scroll-box profile">
        <div class = "clearfix">
          <h3 class = "center">Categories</h3>
          <span ng-repeat="score in user.scores|orderBy:'-score'|filter:catFilter">
            <score-display score="score" ng-click="setCurrentCategory(score)"> </score-display>
          </span>
        </div>
        <div class = "clearfix">
          <h3 class = "center">Tags</h3>
          <span ng-repeat="score in user.scores|orderBy:'-answered'|filter:tagFilter">
            <score-display score="score" ng-click="setCurrentCategory(score)"> </score-display>
          </span>
        </div>
      </div>
      <div class="white card" ng-show='currentCategory'>
        <div class="h3">{{currentCategory._category.name.toUpperCase()}}</div>
        <div class="">
          Correct: {{currentCategory.correct}}/{{currentCategory.answered}} {{currentCategory.correct*100/currentCategory.answered |number:1}}%
        </div>
        <div class="">
          Wrong: {{currentCategory.wrong}}/{{currentCategory.answered}} {{currentCategory.wrong*100/currentCategory.answered |number:1}}%
        </div>
        <div class="">
          Passed: {{currentCategory.passed}}/{{currentCategory.answered}} {{currentCategory.passed*100/currentCategory.answered |number:1}}%
        </div>
      </div>
    </div>
</div>
