<div class = "categories well">

    <div class = 'container-fluid ' ng-hide = "category">
      <div class = "row">
        <div class = "col-sm-6">
          <strong>Popular Categories: </strong>
          <select ng-options = "category.name.toUpperCase() for category in categories | orderBy:'-questions_count' | filter:catFilter" ng-model = "selectedCategory" ng-change = "loadQuestion(selectedCategory)"> </select>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-sm-12' ng-show = "user.scores.length">
          <strong>Categories:</strong>
          <span ng-repeat ="category in user.scores | filter:scoreFilter | orderBy:'-score' | limitTo:limit " ng-click="loadQuestion(category._category)"><score-display score = "category"></score-display></span>
          <!-- This actually worked? -->
          <i><small><span ng-show="limit< (user.scores | filter:scoreFilter).length" ng-click = "limit=limit+5">More </span><span ng-show="limit>5" ng-click = "limit=limit - 5">Less</span></small></i>
        </div>
        <div class = 'col-sm-12' ng-hide = "user.scores.length">
          <span class = "h3 ">Select from popular categories to start increasing your elo score.</span>
        </div>
      </div>
    </div>
    <div class = '' ng-show = "category" ng-click = "category = null">
      <h2 class = "uppercase center no-margin">{{category.name}} {{user.scores[categoryIndexInUser].score | number:0}}</h2>
    </div>

</div>
<div class = 'question' ng-show = "warning"><h2>
  {{warning}}
</h2></div>

<div class = "question quiz-view" ng-show = "question" ng-click="clickEvent($event)">
  <h3 ng-class = "{'small-text':question.question.length>50}" >{{question.question}}</h3>
  <div class="image-container" ng-if = "question.pictureUrl">
    <img class = "quiz-image" ng-src ="https://s3.amazonaws.com/eloeverything/{{question.pictureUrl}}">
  </div>
  <ul class = "container-fluid">
    <div class = "row">
    <li class = "possible_answer"
        ng-dblclick = "answerQuestion()"
        ng-class = "{noselect:true, selected:$parent.selected == answer, correct:$parent.correct_answer === answer && $parent.answered, wrong:$parent.selected == answer && $parent.correct_answer}"
        ng-click = "select(answer)"
        ng-repeat = "answer in question.possible_answers">
        <div class = "possible_answer" ng-class = "{'small-text':answer.length>25}" >{{answer}}</div></li>
    </div>
  </ul>
  <div class = "container-fluid">
    <div class = "row">

      <button class ="btn-primary btn-lg col-sm-6 col-sm-2" ng-hide = "answered" ng-disabled = "selected == '' || answered" ng-click = "answerQuestion()">Answer</button>
      <button class ="btn-primary btn-lg col-sm-6 col-sm-2 " ng-show = "answered" ng-click = "loadQuestion(category)">Next</button><!-- -->

      <button class ="btn-warning btn-lg col-sm-6 col-sm-offset-1 col-sm-2" ng-show = "question" ng-disabled = "answered" ng-click = "answerQuestion(true)">Pass</button>

      <div id = "deltaBox" class ="col-sm-6 col-sm-offset-1 col-sm-3 "  ng-show = "deltaScores.length>0">
        <div ng-repeat = "deltaScore in deltaScores">
          <span ng-class = "{positive:deltaScore.deltaScore*1>0, negative:deltaScore.deltaScore*1<0}">
            {{deltaScore.category}}:
            <span ng-show = "deltaScore.deltaScore >0">+</span>
            {{deltaScore.deltaScore | number : 1}}
          </span>
        </div>
      </div>
      <form id = "reportBox" class = "col-sm-6 col-sm-2" ng-show = "answered && !complaintFinished && deltaScores.length>0">
        <span ng-click= "complaining=true" ng-hide = "complaining" style="color:red">
          <span  class = "glyphicon glyphicon-exclamation-sign" aria-label = "report"></span> <small><i>Report Issue With Question</i></small>
        </span>
        <span ng-show = "complaining">
        <select ng-model = "complaint.complaint">
          <option val ="Miscategorized">Miscategorized</option>
          <option val ="Wrong Answer">Wrong Answer</option>
          <option val = "Poorly Worded">Poorly Worded</option>
          <option val = "Inappropriate/Offensive">Inappropriate/Offensive</option>
        </select>
          <input ng-model= "complaint.comment" placeholder = "Additional Information"></input>
          <button ng-click = "submitComplaint(complaint)" class = "btn-danger btn-sm">Report</button>
        </span>
      </form>
      <div class = "col-sm-6 col-sm-2" ng-show ="complaintFinished" style = "color:green">
        Thank you for submitting a report.
      </div>
    </div>
  </div>
</div>
