html, body{
  padding: 0px;
  margin: 0px;
  background-color: #333;
}

*{
  box-sizing: border-box;
}


.clearfix{
  overflow:auto;
}

.uppercase{
  text-transform: uppercase;
}

.center{
  text-align: center;
}

.question li{

  display:flex;
  align-content: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50px;
  vertical-align: to;
  box-sizing: border-box;
  min-height:3em;
  align-items:center;
}/**/

.question div.possible_answer{
  align-self: center;
  margin: 0 auto;
}
.question ul{
    margin-bottom: 5px;
}

.question li.possible_answer{
  margin: 5px;
}


ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

[ng-click]{
  cursor:pointer;
}



nav{
  background-color: #1C6BA0;
  color: white;
  padding: 5px;
  border-bottom: 1px black solid;
}

nav h1{
  display: inline;
}

nav ul{
  padding: 0;
  margin: 10 5 5 5;
  float: right;
  vertical-align: center;
}

nav li{
  display: inline-block;
  margin: 0 8px;
}


.categories.well{
  transition:all 2s;
}

.categories li{
  border:0px;
  color:#1C6BA0;
  display: inline-block;
  margin: 4px;
}

.selected{
  background-color: #1C6BA0;
  color:white;
  transition: all .25s;
  transform:scale(1.005);
  box-shadow: 2px 2px 2px #333;
  z-index: 2;
}

.wrong{
  background-color:red;
  transform:scale(.99);
  transition: .5s;
  z-index: 1;
}

.correct{
  background-color:green;
  color:white;
  transform:scale(1.01);
  transition:all .5s;
  z-index: 5;
  box-shadow: 5px 5px 5px #333;
}

.possible_answer.ng-leave{
  animation-duration: .5s;
  animation-name:slide-out-left;
}

.possible_answer.ng-enter{
  animation-duration: .5s;
  animation-name:slide-in-left;
}
.positive{
  color:green;
  transition: 1s;
}

.negative{
  color:red;
  transition: 1s;
}

.question{
  background: #eee;
  border-radius: 10px;
  padding: 10px;
  margin:10px;
  user-select:none;
  transition: all 1s;
}


.clear{
  clear: both;
  display: inline-block;
}
#deltaBox{
  border: 1px #1C6BA0 solid;
  border-radius: 5px;
  padding: 5px;
  transition: 1s;
}

.disabled.btn-primary{
  background-color: #1C6BA0;
}

.disabled.btn-warning{

}

#facebook-login-button{
  height:60px;
  width:100px;
  background-size:100% 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-message{
  color:#1C6BA0;
  font-size: .75em;
}

.left-margin{
  margin-left:0%;
}

score-display button{
  margin: 0 auto;
  width:100%;
}



score-display{
  display: inline-block;
  margin: .5% 4px;
}

.progress-button{
  position:relative;
  padding:5 10px;
  background:#1C6BA0;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size:1.1em;
  line-height:1.25;
  border-radius:70px;
  border:0px solid black;
  overflow:hidden;
}

.progress-button .content{
  position:relative;
  display:block;
}

.progress-button .progress {
	position: absolute;
	right: 0;
	background: lightslategrey;
  top: 0;
  width: 0;
  height: 100%;
  opacity:1;
  transition: width 0.3s, opacity 0.3s;
  border-radius:0px;
}

.max-scroll-box score-display{
  display: block;
  margin: 0px;
  margin-bottom: 2px;
}

.max-scroll-box .progress-button{
  border-radius: 0px;
  width:100%;
  display: block;
}


.profile-img-button{
  height:5em;
  width:5em;
  border-radius:5em;
  float:right;
  margin-right: 2%;
}

.profile-header{
  float:left;
}

.profile h3{
  margin-top: 1px;
  margin-bottom: 1px;
}

.max-scroll-box{
  overflow: auto;
  padding-bottom:10px;
  margin-top:0px;
  box-sizing: padding-box;
}

.white-text{
  color:white;
}

.white.card{
  background-color: #eee;
  border-radius: 3px;
  margin: 5px;
  padding:5px;
}

.bronze{
  border-top:2px #cd7f32 solid;
  border-right:2px #cd7f32 solid;
  border-bottom:2px #b9722d solid;
  border-left:2px #b9722d solid;
}

.silver{

}

.gold{

}

.vertical-expand-in.ng-enter{
  animation-duration:1s;
  animation-name: expandin;
}

.vertical-expand-in.ng-leave{
  animation-duration:1s;
  animation-name: collapsein;
}



@media only screen and (min-width: 768px){
  .question li.possible_answer{
    float:left;
    width:calc(50% - 15px);
  }
}
@media only screen and (max-width: 768px){
  .profile-img-button {
    width: 45px;
    height:auto;
    position:absolute;
    top:0;
    bottom:0;
    right:15px;
    margin: auto;
  }

  .well{
    position:relative;
  }

  .well h3{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 1.24em;
  }

  .hide-on-small{
    display:none;
  }
}

@media only screen and (min-width:768px){
  .profile .score-wrapper{
    display: inline-block;
    width:calc(50% - 6px);
    float:left;
    margin: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
@media only screen and (min-width:1500px){
  .profile .score-wrapper{
    display: inline-block;
    width:calc(100%/3 - 6px);
    margin: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    float:left;
  }
}



@keyframes expandin {
  from {

    max-height:0px;
    overflow: hidden;
  }

  to{

    max-height:200px;
  }
}

@keyframes slide-in-left{
  from{
    transform: translateX(1000px);
    position: absolute;
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes slide-out-left{
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-1000px);
  }
}

@keyframes collapsein {
  from {
    max-height:200px;
    overflow: hidden;
  }

  to{

    margin-top: 0px;
    margin-bottom: 0px;
    max-height:0px;
    overflow:hidden;
  }
}
