html, body{
  padding: 0px;
  margin: 0px;
}

.question li{


  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  vertical-align: to;
  box-sizing: border-box;
  min-height:3em;
  align-items:center;
}/**/

.question ul{
    margin-bottom: 5px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

[ng-click]{
  cursor:pointer;
}



nav{
  background-color: darkslategrey;
  color: white;
  padding: 5px;
  border-bottom: 1px black solid;
}

nav h1{
  display: inline;
}

nav ul{
  padding: 0;
  margin: 10 5 5 5;
  float: right;
  vertical-align: center;
}

nav li{
  display: inline-block;
  margin: 0 8px;
}


.categories li{
  border:0px;
  color:blue;
  display: inline-block;
  margin: 4px;
}

.selected{
  background-color: darkslategrey;
  color:white;
  transition: all .25s;
  transform:scale(1.005);
  box-shadow: 2px 2px 2px #333;
  z-index: 2;
}

.wrong{
  background-color:red;
  transform:scale(.99);
  transition: 1s;
  z-index: 1;
}

.correct{
  background-color:green;
  color:white;
  transform:scale(1.01);
  transition:all 1s;
  z-index: 5;
  box-shadow: 5px 5px 5px #333;
}

.positive{
  color:green;
  transition: 1s;
}

.negative{
  color:red;
  transition: 1s;
}

.question{
  background: mintcream;
  border:1px solid saddlebrown;
  border-radius: 10px;
  padding: 10px;
  margin:10px;
  user-select:none;
}


.clear{
  clear: both;
  display: inline-block;
}
#deltaBox{
  border: 1px darkslategrey solid;
  border-radius: 5px;
  padding: 5px;
  transition: 1s;
}

.disabled.btn-primary{
  background-color: darkslategrey;
}

.disabled.btn-warning{

}

#facebook-login-button{
  height:60px;
  width:100px;
  background-size:100% 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-message{
  color:blue;
  font-size: .75em;
}

.left-margin{
  margin-left:0%;
}

score-display button{
  margin: 0 auto;
  width:100%;
}



score-display{
  display: inline-block;
  margin: .5% 4px;
}

.progress-button{
  position:relative;
  padding:5 10px;
  background:darkslategrey;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size:1.1em;
  line-height:1.25;
  border-radius:7px
}

.progress-button .content{
  position:relative;
  display:block;
}

.progress-button .progress {
	position: absolute;
	right: 0;
	background: lightslategrey;
  top: 0;
  width: 0;
  height: 100%;
  opacity:1;
  transition: width 0.3s, opacity 0.3s;
  border-radius:0px;
}


.profile-img-button{
  height:5em;
  width:5em;
  border-radius:5em;
  border:2px solid darkslategrey;
  box-shadow: 2px 2px 2px #333;
}

.max-scroll-box{
  max-height: 50vh;
  overflow: auto;
  padding-bottom:10px;
  margin-top:-10px;
  box-sizing: padding-box;
}
